# ignored directories
bin/
log/

# ignored data/results
*.rst
*.send
*.recv
*.dot
*.jpeg
*.txt
*.gr
*.log
*.dist
*.out
*.swp

# binaries
gpu-*
cpu-*
*.o
run_tree*

# project file
*.cproject
*.project
